:root {
    /*COLORES*/
    --color-primario-azul: #074DA3;
    --color-primario-amarillo: #FFDE03;
}

#root{
    padding: 0;
    max-width: 100%;
}
body{
    margin:0;
}

/*ESTILOS MENU BAR*/ 
.menu-bar-container{
    background-color: transparent;
    font-weight: bold;
    border-radius: 10px;
    height: fit-content;
}

.menu-bar-container ul li div a span:nth-child(1){
    color: var(--color-primario-azul);
    font-weight: bold;
}

.menu-bar-container ul li div a span:nth-child(2){
    color: var(--color-primario-azul);
}

.navbar {
    justify-content: center;
    align-items: center;
    width: fit-content;
    margin: 0 auto;
}

.navbar nav{
    padding-top: 0;
}

/*REUTILIZABLES*/
.banner-title{
    font-size: 3rem;
    width: 100%;
    background-color: var(--color-primario-azul);
    color: var(--color-primario-amarillo);
    padding: 20px;
    text-transform: uppercase;
}

.papercard-title{
    text-transform: uppercase;
}


/*ESTILOS HERO LANDING PAGE*/
.hero-container {
    background-image: url(./assets/images/bp-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    max-height: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    > h1{
        color: var(--color-primario-amarillo);
        font-size: 4rem;
        font-weight: bold;
        margin: 10px;
    }

    > span{
        font-size: 2.5rem;
        font-weight: bold;
        color: white;
        background-color: var(--color-primario-azul);
        padding: 15px;
        border-radius: 20px;
        margin: 0 10px;
    }


}
